<div>
    <input type="button" value="ADD" class="btn-primary" (click)="add()" />
      <hr/>
      <table class="table">
        <thead>
          <th>Sn</th>
          <th>NAME</th>
          <th>CATEGORY</th>
          <th>COST</th>
        </thead>
        <tbody>
          <tr *ngFor="let media of media; let i = index">
            <td>{{i+1}}</td>
            <td>{{media.name}}</td>
            <td>{{media.category}}</td>
            <td>{{media.cost}}</td>
            <td><input type="button" value="Update" class="btn-warning" (click) = "update(media.id)" /></td>
            <td><input type="button" value="Delete" class="btn-danger" (click) = "delete(media.id)"/></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  
