  
<div class="bg-info" style="height: 500px;">
  <br/>
  <br/>
  <h1> Welcome to Pixogram</h1><br><br>
  <div *ngIf="!autherized" class="text-danger">
    <h3>{{errorMessage}}</h3>
  </div>
  <div class="form-group">
      <input type="text" class="form-control" #txtLogin  placeholder="Enter login id"/>
      <br/>
      <input type="Password" class="form-control" #txtPass  placeholder="Enter password"/>
      <br/>
      <input type="button" value="Login" (click)="checkLogin(txtLogin, txtPass)" />
  </div>
</div>





<!--

 <div>
<div class="login-box">
<h1> Welcome to Pixogram</h1><br><br>
<h3> Login</h3>
<div class="text-box"></div>

<form action="/action_page.php">


Username:
<input type="text" placeholder="Enter Username" name="firstname">
<br><br>



Password:<input type="password" placeholder="Enter Password" name="Lastname">
<br><br>



<input type="submit" value="Login">

<a href="register1.html">Register </a>



</form>

</div> -->