<div>
    <h3>Add new Media</h3>
    <div class="row">
      <div class="col"><label for="">Enter media name</label></div>
      <div class="col"><input type="text" #txtName /></div>
    </div>
    <div class="row">
      <div class="col"><label for="">Enter media category</label></div>
      <div class="col"><input type="text" #txtCategory /></div>
    </div><div class="row">
      <div class="col"><label for="">Enter media cost</label></div>
      <div class="col"><input type="text" #txtCost /></div>
    </div>
    <div class="row">
      
      <div class="col"><input type="button" value="Save" (click)="saveMedia(txtName, txtCategory, txtCost)" /></div>
    </div>
  </div>
