body
{
    background-color : #c2d1cb;
}
h1
{
    color : #0c1414;
    text-align : center;
    
    font-style:italic ;
}
  .container {
      font-family:Arial,sans-serif ;
      text-align : center;
   }

     